{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/majaslapa/css/base.css' %}">
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/42a043e373.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="site_top_menu">
            <ul class="left_top">
                <li class="left"><a class="about" href="{% url 'about' %}">About</a></li>
                <li class="left"><a class="contact" href="{% url 'contact' %}">Contact</a></li>
            </ul>

            <ul class="right_top">
                <li class="right1">
                    <img class='lvimg' src="{% static 'majaslapa/image/LV.png' %}" alt="lv">
                    <a href="#">LV</a>
                </li>
                <li class="right1">
                    <img class="ukimg" src="{% static 'majaslapa/image/ENG.png' %}" alt="en">
                    <a class="EN" href="#">EN</a>
                </li>
                <img class="stick" src="{% static 'majaslapa/image/stick.png' %}" alt="en">
                <li class="right"><a href="{% url 'login' %}">Login</a></li>
                <img class="stick" src="{% static 'majaslapa/image/stick.png' %}" alt="en">
                <li class="right"><a href="{% url 'register' %}">Register</a></li>
            </ul>


        </div>

        <div class="site_undertop">
            <div class="Logo">
                <a class="Logo" href="{% url 'sakums' %}">BALTICHTECH.com</a>
            </div>
            <div class="wrapper">
                <div class="search_box">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="input" placeholder="Search">

                </div>
            </div>
            <ul class="right_menu">
                <li class="cart"><a href="#">In cart(2)</a></li>
                <li class="cartimg"><img class="cartimg" src="{% static 'majaslapa/image/Carticon.png' %}" alt="cart"></li>
                <li class="acc"><a href="{% url 'account' %}">Account</a></li>
                <li class="accimg"><img class="accimgg" src="{% static 'majaslapa/image/AccountIcon.png' %}" alt="Account"></li>

            </ul>
        </div>
    </header>

    {% block body %}{% endblock %}

    {% block js %}{% endblock %}

</body>
</html>