{% extends 'majaslapa/base.html' %}
{% load static %}

{% block title %}
Pieslēgties
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/registerandlogin.css' %}">
{% endblock %}


{% block body %}
        <div class="LoginMain">
            <h1>Login</h1>
            <form action="#">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
            </form>
            <div class='reg_log'>
                <button class='login_button'>Login</button>
                <a class="Or"><img  src="{% static 'majaslapa/image/OR.png' %}" width="330px" height="70px" margin-bottom="100px"></a>
                <button class='register_button'>Register</button>
            </div>
            <div class="member">
                <div class="recover">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>

{% endblock %}