{% extends 'majaslapa/base.html' %}
{% load static %}

{% block title %}
Atjaunot paroli
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/registerandlogin.css' %}">
{% endblock %}


{% block body %}
        <div class="LoginMain">
            <h1>Paroles pārstatīšana nosūtīta</h1>
            <p>Ja sistēmā ir konts ar jūsu e-pasta adresi, tad mēs jums tikko nosūtījām e-pasta ziņojumu ar paroles iestatīšanas instrukciju. Jums to tūlīt vajadzētu saņemt.</p>
            <p>Ja nesaņemat e-pastu, lūdzu, pārliecinieties, vai esat ievadījis reģistrētu adresi un pārbaudiet savu mēstuļu mapi.</p>
        </div>
{% endblock %}