{% extends 'majaslapa/base.html' %} {% load static %} {% block title %} Atjaunot
paroli {% endblock %} {% block css %}
<link
	rel="stylesheet"
	href="{% static '/majaslapa/css/registerandlogin.css' %}"
/>
{% endblock %} {% block body %}
<form id="msform" method="POST">
	{% csrf_token %}
	<div class="LoginMain">
		<h1>Ievadiet jauno paroli</h1>
		<p>
			Lūdzu ievadiet jauno paroli divreiz, lai varētu pārbaudīt, ka tā ir
			uzrakstīta pareizi.
		</p>
		{{form}}
		<input
			type="submit"
			name="submit"
			class="register_button"
			value="Mainīt paroli"
		/>
	</div>
</form>
{% endblock %}
