{% extends 'majaslapa/base.html' %}
{% load static %}

{% block title %}
Reģistrēties
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/registerandlogin.css' %}">
{% endblock %}


{% block body %}

    <div class="LoginMain">
        <h1>Register</h1>
        <form method="POST" action="">
            {% csrf_token %}

            {{form.username}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}      
            <input type="submit" name="submit" class="submit action-button" value="Reģistrēties" />
        </form>
        <a class="Or"><img  src="{% static 'majaslapa/image/OR.png' %}" width="330px" height="70px" margin-bottom="100px"></a>
        <button class='register_button'>Login</button>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p> {{ error }} </p>
            {% endfor %}
        {% endfor %}
    {% endif %}
        </div>
    </div>

{% endblock %}

{% block js %}
<script>
  var form_fields = document.getElementsByTagName('input')
  form_fields[2].placeholder = 'Lietotāj vārds'
  form_fields[3].placeholder = 'E-pasts'
  form_fields[4].placeholder = 'Parole'
  form_fields[5].placeholder = 'Atkartot paroli'
</script>
{% endblock %}