{% extends 'majaslapa/base.html' %}
{% load static %}

{% block title %}
Reģistrēties
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/registerandlogin.css' %}">
{% endblock %}


{% block body %}
    <div class="LoginMain">
        <h1>Register</h1>
        <form method="POST" action="">
            {% csrf_token %}

            {% for f in form %}
            {% comment %} <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p> {% endcomment %}
            {{f}}
            {% endfor %}

        <input type="submit" name="submit" class="register_button" value="Reģistrēties" />
        <a class="Or"><img  src="{% static 'majaslapa/image/OR.png' %}" width="330px" height="70px" panding-top: '100px' display: 'block'></a>

        <a href='{% url 'login' %}'class='register_button'>Login</a>

        <div class='eror'>
            {{ form.errors }}
        {% comment %} <a class='eror_logs'>{{ form.errors }}<a> {% endcomment %}
        </div>

    </div>

    {% endblock %}

    {% block js %}
    <script>
      var form_fields = document.getElementsByTagName('input')
      form_fields[2].placeholder = 'Lietotāj vārds'
      form_fields[3].placeholder = 'E-pasts'
      form_fields[4].placeholder = 'Parole'
      form_fields[5].placeholder = 'Atkartot paroli'
    </script>
    {% endblock %}