body{
    background-color: #efefef;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li,a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.site_top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6FB64D;
    padding: 20px 15px;
    height: 0px;
}
.left_top{
     list-style: none;

}
.right_top{
    list-style: none;

}
.left_top li{
    display: inline-block;
    padding: 0px 22px;
}
.right_top li{
    display:inline-block;
}
.left_top li a{
    transition: all 0.3s ease 0s;
}
.right_top li a{
    transition: all 0.3s ease 0s;
}
.right_top li a:hover{
    color: chartreuse;
}
.left_top li a:hover{
    color: chartreuse;
}

.right{
    padding: 0px 10px;
}
.right1{
    margin-right: 12px;
}

.stick{
    width: 1px;
    position: absolute;
}

.ukimg{
    position: absolute;
    top: 12px;
    right: 204px;
    width: 28px;

}
.lvimg{
    position: absolute;
    top: 13px;
    right: 268px;
    width: 26px;
}
.EN{
    padding-left: 30px;
}
/*site top*/

.site_undertop{
    background-color: rgba(99, 180, 61, 0.7);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.right_menu{
    list-style: none;
    padding: 0 30px;
}

.right_menu li{
    justify-content: center;
    display: inline-block;


}
.cart{
    position: absolute;
    top: 67px;
    right: 250px;
}
.cartimg{
    position: absolute;
    top: 23px;
    right: 110px;
    width: 26px;

}
.acc{
    position: absolute;
    top: 67px;
    right: 84px;
}
.accimgg{
    width: 30px;
    top: 50px;
    right: 84px;
}

.accimg{
    margin-top: 6px;
    margin-right: 20px;
}


.Logo{
    padding: 0 20px;
    font-size: 30px;
    font-weight: 300;
}
.search{
    justify-items: center;

}
.wrapper{
    margin-left: -200px;
}
.search_box{
    width: 900px;
    height: 40px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;

}


.search_box > i{
    font-size: 15px;
    color: #363636;
    padding-right: 15px;
    padding-bottom: 5px;

}
.search_box > input{
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-right: 20px;
    background-color: rgba(239, 239, 239, 1);

}

::-webkit-input-placeholder{
    color: rgb(117, 117, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: inherit;

}
::-moz-input-placeholder{
    color: rgb(117, 117, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: inherit;

}
::-ms-input-placeholder{
    color: rgb(117, 117, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: inherit;
}
.close-button{
    position: absolute;
    left: 40px;
    padding: 10px 25px;
    border-radius: 50%;
    border: none;

}

.right_menu a{

transition: all 0.3s ease 0s;
}
.right_menu a:hover{
    color: chartreuse;
}
