body{
    background-color: #efefef;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.site_top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6FB64D;
    padding: 20px 15px;
    height: 0px;
 }

.left_top{
     list-style: none;
}

.right_top{
    list-style: none;
}

.left_top li{
    display: inline-block;
    padding: 0px 22px;
}

.right_top li{
    display:inline-block;
}

.left_top li a{
    transition: all 0.3s ease 0s;
}

.right_top li a{
    transition: all 0.3s ease 0s;
}

.right_top li a:hover{
    color: chartreuse;
}

.left_top li a:hover{
    color: chartreuse;
}

.right{
    padding: 0px 10px;
    display: block;
}

.right1{
    margin-right: 12px;
}

.stick{
    width: 1px;
    position: absolute;
    color: rgb(255, 255, 255);
}

.ukimg{
    position: absolute;
    top: 12px;
    width: 28px;
}

.lvimg{
    position: absolute;
    top: 14px;
    width: 26px;
}

.EN{
    padding-left: 30px;
    display: block;
}

.LV{
    padding-left: 30px;
    display: block;
}
/*site top*/

.site_undertop{
    background-color: rgba(99, 180, 61, 0.7);
    height: 70px;
    display: flex;
    align-items: center;

}
.right_menu{
    list-style: none;
}

.right_menu li{
    justify-content: center;
    display: inline-block;
}

.cart{
    position: absolute;
    top: 67px;
    right: 250px;
}

.carticon{
    position: absolute;
    top: 60px;
    right: 220px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.acc{
    position: absolute;
    top: 62px;
    right: 84px;
    color: rgb(255, 255, 255);
}

.acc i{
    font-size: 25px;
    margin-left: 5px;
}

.Logo{
    padding-left: 5px;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 300;
}

.right_menu a{
transition: all 0.3s ease 0s;
}

.right_menu a:hover{
    color: chartreuse;
}

#search input[type="text"] {
    display:inline;
    margin-left: 300px;
    background: no-repeat 10px 6px rgb(255, 255, 255);
    border: none;
    font:  16px Arial,Helvetica,Sans-serif;
    width: 600px;
    padding: 12px 20px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 700px;
    }

.search{
    border: none;
    height: 32px;
    width: 600px;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'nunito';
    color: #424242;
    font-weight: 500px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 320px;
}

.search:focus{
    outline: none;
}



@media (max-width: 1255px){
    .search{
        margin: 0;
    }
    .site_top_menu{
        height: 0px;
     }
}