
/*Under top menu*/

.LoginMain{
    width: 430px;
    height: auto;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
    font-family: 'Montserrat', sans-serif;

}
.LoginMain form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    font-size: 16px;
}
.reg_log{
    margin-top: 30px;
}
button{
    font-size:15px;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor:pointer;
    background: rgba(99, 180, 61, 0.7);

}

button:hover{
    background:chartreuse ;
}
.register_button{
    margin-top: 10px;
    font-size:15px;
    padding: 10px 160px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: rgb(85, 85, 85);
    cursor:pointer;
    background: rgba(80, 253, 0, 0.7);
}
.register_button:hover{
    background:rgba(117, 117, 117, 0.322) ;
}
.login_button{
    margin-top: 10px;
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width:1em;
    vertical-align:middle;
    cursor:pointer;
}
.terms label{
    font-size:0.8rem;
}
.terms a{
    color: #6FB64D;
    text-decoration: none;

}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.member a{
    color: #6FB64D;
    text-decoration: none;

}
 .Login_here{
    font-size: 20px;
}
.termsand{
    font-size: 15px;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 5rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: #6FB64D;

}

.eror{
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background-color: #fff;
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left-color: #bd2130;

}

.eror li{
    color: rgb(255, 0, 0);
    margin-top: 10px;
    border-left-color: #bd2130;
    list-style-type: none;
}

.Or{
    padding-top: -100px;
}

.input{
    width: 92%;
    margin-top: 10px;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    /* margin-bottom: 10px; */
    border-radius: 20px;
    background: #e4e4e4;
    font-size: 16px;
}

#messages{
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background-color: #fff;
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left-color: #bd2130;
}

.errorlist li{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    border-left-color: #c70014;
    list-style-type: none;
}
/* LOGIN AND REGISTER*/
